<% include partials/header %>
    <div class="container">
        <header class="jumbotron">
            <h1>Welcome too YelpCamp</h1>
            <p>view our hand-picked campsites from all over the world.</p>
            <a href="/campgrounds/new" class="btn  btn-info btn-lg">New Site</a>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>"/>
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
<% include partials/footer %>