<% include partials/header %>

<h1>This is the home page</h1>

<img src="https://i1.wp.com/pomeranian-husky.com/wp-content/uploads/2015/12/11174253_719698244826660_988478358040573736_o.jpg?resize=1024%2C854&ssl=1"></img>
<% include partials/footer %>